<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <script>var modernBrowser = ('Promise' in window && Promise.prototype.finally);if(!modernBrowser){document.write('<script src="<%= PUBLIC %>/babel-polyfill.7.6.0.js"><\/script>')}</script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
