extends ../template/layout.pug

block body
  .app
    .logo ZERO
    div Home Page
    .docLink ↓Link To↓
    a(href="./about.html") about page
    .docLink ↓doc↓
    a(href="https://github.com/Iixianjie/zero") https://github.com/Iixianjie/zero

